/* Global styles */

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

html,
body {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: "Space Mono", monospace;
}

body {
  display: flex;
  align-items: flex-end;
  background-color: #ffffff;
}
@media (min-width: 1200px) {
  body {
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
